<!doctype html>
<html>
  <head>
      <!--https://ckinknoazoro.files.wordpress.com/2011/06/random.jpg -->
    <img src="/img/logo.png" alt="Meadowlark Travel Logo">
  </head>
  <body>
    {{{body}}} <!--This is where HTML will be replaced-->
  </body>
</html>